/*
 * $Id: style.css, v 1.1
 * The Simple Lottery Checker
 * @author Andrzej Kałowski
 * @link http://lotek.kalowski.com
 */

/* Typography ########################### */
h1,h2,h3,h4,h5,h6{
		font-family: 'Andika', sans-serif;
		color: #808080;
		font-weight: 300;
		}
h1{
		font-size:  6rem;
		}
h2{
		font-size:  5rem;
		}
h3{
		font-size:  4rem;
		}
h4{
		font-size:  3rem;
		}
h5{
		font-size:  2rem;
		}
h6{
		font-size:  1rem;
		}
a:hower{
		text-decoration: none;
		}

/* Main ################################## */
body {
		font-family: 'Andika', sans-serif;
		padding-top: 88px;
		}
.textGreen {
		color: #748061;
		font-weight: bold;
		text-align: center;
		margin-bottom: 2.5rem;
		}

/* Footer ################################ */
#footer {
		padding-top: 20px;
		margin-top: 10px;
		color: #696969;
		font-size: 70%;
		text-align: justify;
		}
.footerLightGreyText {
		color: #a9a9a9;
		text-align: center;
		}

/* Breadcrumb ############################# */
.breadcrumb {
		color: #748061;
		background-color: #cce0ab;
		}
.breadcrumb > li > a:hover {
		color: #7e6c06;
		text-decoration: none;
		}
.breadcrumb > .active {
		border: 0.5rem solid transparent;
		}

/* Form Control ############################ */
.form-control {
		border: 1px solid #cce0ab;
		}
.form-control:focus {
		border-color: #a0b086;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(160, 176, 134, .8);
				box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(160, 176, 134, .8);
		}

/* Buttons ################################ */
.btn-default {
		color: #748061;
		background-color: #cce0ab;
		border-color: #748061;
		}
.btn-default:hover,
.btn-default:focus,
.open > .dropdown-toggle.btn-default {
		color: #fffff0;
		background-color: #a0b086;
		border-color: #748061;
		}
fieldset[disabled] .btn-default.active {
		background-color: #748061;
		border-color: #748061;
		}
.btn-default .badge {
		color: #748061;
		background-color: #748061;
		}
#buttons button:hover{
		-webkit-animation: pulse .8s;
		animation: pulse .8s;
		}
#buttons input:hover{
		-webkit-animation: pulse .8s;
		animation: pulse .8s;
		}

/*Number ################################## */
#number_v {
font-family: 'Andika', sans-serif;
		}
.numberText {
		color: #808080;
		margin-left: auto;
		margin-right: auto;
		font-size: 60%;
		}
.numberGreyText{
		color: #808080;
		margin-left: auto;
		margin-right: auto;
		font-size: 90%;
		}
.numberGreenText {
		color: #748061;
		font-size: 105%;
		font-weight: bold;
		}
.numberBrownText {
		color: #884513;
		font-size: 105%;
		font-weight: bold;
		}
.numberRedText {
		color: #ff0000;
		font-size: 105%;
		padding: 5px 10px 5px 5px;
		}
.numberOrangeText {
		color: #ff8c00;
		font-size: 105%;
		font-weight: bold;		
		}
.numberLoadGreenText {
		color: #7e6c06;
		}
.numberFieldText {
		color: #808080;
		margin-left: auto;
		margin-right: auto;
		font-size: 80%;
		}
.numberSaveText {
		color: #808080;
		font-size: 80%;
		}

/* Privacy ################################ */
.privRight {
		color: #808080;
		margin-right: 5px;
		float: right;
		}
.privLeft {
		color: #808080;
		float: left;
		width: 41px;
		}
.privLeftXs {
		color: #808080;
		float: left;
		width: 31px;
		}
.privLeftN {
		color: #808080;
		float: left;
		width: 120px;
		text-align: left;
		margin-left: 10px;
		}
.privLeftNXs {
		color: #808080;
		float: center;
		width: 120px;
		text-align: left;
		margin-left: 1px;
		}

/* Menu ################################  */
#menu {
		background-color: #a0b086;
		}
.navbar {
		background-color: #a0b086;
		font-size: 1.6rem;
		padding-top: 1.5rem;
		border-color: #a0b086;
		}
.navbar-default .navbar-nav > li > a {
		color: #ffffff;
		margin-left: 15px;
		border: 1px solid transparent;
		line-height: 1rem;
		}
.navbar-default .navbar-nav > li > a:hover {
		display: block;
		color: #7e6c06;
		border: 1px solid transparent;
		border-color: #7e6c06;
		line-height: 1rem;
		border-radius: 5px;
		transition: all 0.6s ease;
		}
.navbar-default .navbar-nav > .active > a {
		display: block;
		color: #ffffff;
		border-color: #ffffff;
		background-color: #748061;
		border-radius: 5px;
		}
.navbar-default .navbar-nav > .active > a:hover {
		color: #7e6c06;
		background-color: #a0b086;
		}

/* Others ############################### */
.emptySpaceH {
		padding: 8px 0px 8px 0px;
		}
.emptySpaceXH {
		padding: 16px 0px 16px 0px;
		}
.emptySpaceW {
		padding: 0px 8px 0px 8px;
		}
.fieldText {
		color: #808080;
		margin-left: auto;
		margin-right: auto;
		font-size: 80%;
		}
.greyLogText{
		color: #808080;
		font-size: 95%;
		text-align: left;
		font-weight: bold;
		width: 5em;
		}
.greenColour{
		color: green;
		}
.blueColour{
		color: blue;
		}
.redColour{
		color: red;
		font-weight: bold;
		}
.orangeColour{
		color: orange;
		font-weight: bold;
		}
.tCnt {
		text-align: center;
		}
.tL {
		text-align: left;
		}
.tR {
		text-align: right;
		}
.tJ {
		text-align: justify;
		}

/* Background ########################### */
body {
		background: #fffff0;
		}
