/*
 * $Id: style.css, v 1.1
 * The Simple Lottery Checker
 * @author Andrzej Kałowski
 * @link http://lotek.kalowski.com
 */

/*Structure*/
#wrap	{
		max-width: 2076px;
        }
#header {
		font-family: Verdana, sans-serif;
		font-size: 100%;
		color: #e70;
		margin-bottom: 0px;
		}
#main-body {
		float: left;
		width: 74%;
		}
#content {
		float: right;
		width: 65%;
		color: #696969;
		font-family: Verdana, sans-serif;
		font-size: 95%;
		text-align: justify;
		background: #d4c49c;
		}
#footer {
		clear: both;
		padding-top: 20px;
		margin-top: 10px;
		color: #696969;
		font-family: Verdana, sans-serif;
		font-size: 70%;
		text-align: justify;
		}
#box {
		font-family: Verdana, sans-serif;
		font-weight: bold;
		width: 99%;
		padding: 0px 0px;
		margin: 0px 0px;
		border: 2px solid #808000;
		background: #d4c49c;
		}
		
/*Fields*/
.num {
		border: 1px solid #808000;
		padding: 2px 2px 2px 2px;
		margin: 2px 2px 2px 2px;
		}
.numberWindow {
	 	border: 1px solid #808000;
		margin-left: 7px;
		margin-right: 7px;
		width: 40px;
		}
.fieldNumberName {
		border: 1px solid #808000;
		padding: 2px 2px 2px 2px;
		margin: 20px 2px 2px 70px;
		}
.logField {
		border: 1px solid #808000;
		float: left;
		padding: 1px 1px;
		margin: 10px 10px;
		}
		
/*Colours*/  
.greenColour{
		font-family: Verdana, sans-serif;
		color: green;
		}
.blueColour{
		font-family: Verdana, sans-serif;
		color: blue;	
		}
.redColour{
		font-family: Verdana, sans-serif;
		color: red;
		font-weight: bold;
		}
.orangeColour{
		font-family: Verdana, sans-serif;
		color: orange;
		font-weight: bold;
		}
		
/*Text*/
.textGreen {
		padding: 5px 5px 5px 5px;
		color: #808000;
		font-family: Verdana, sans-serif;
		font-size: 105%;
		font-weight: bold;
		margin-left: 0px;
		}
.textMiniGreen {
		padding: 10px 10px 0px 0px;
		color: #808000;
		font-family: Verdana, sans-serif;
		font-size: 95%;
		margin-left: 70px;
		}
.textBrown {
		padding: 5px 5px 5px 5px;
		color: #884513;
		font-family: Verdana, sans-serif;
		font-size: 105%;
		text-align: center;
		font-weight: bold;
		margin-left: 0px;
		}
.textYellow {
		padding: 5px 5px 5px 5px;
		color: #f0e68c;
		font-family: Verdana, sans-serif;
		font-size: 105%;
		font-weight: bold;
		}
.textRed {
		padding: 5px 10px 5px 5px;
		color: #ff0000;
		font-family: Verdana, sans-serif;
		font-size: 105%;
		}
.textGrey {
		color: #808080;
		font-family: Verdana, sans-serif;
		font-size: 95%;
		margin: 30px 30px 30px 70px;
		text-align: left;
		}
.textBrown {
		color: #884513;
		font-family: Verdana, sans-serif;
		font-size: 105%;
		font-weight: bold;		
		}
.textOrange {
		color: #ff8c00;
		font-family: Verdana, sans-serif;
		font-size: 105%;
		font-weight: bold;		
		}
.textLightGrey {
		color: #a9a9a9;
		font-family: Verdana, sans-serif;
		font-size: 95%;
		}
.textMiniGrey {
		padding: 10px 10px 0px 0px;
		color: #808080;
		font-family: Verdana, sans-serif;
		font-size: 75%;
		}
.textSaveNumbers {
		color: #808080;
		font-family: Verdana, sans-serif;
		font-size: 75%;
		margin: 20px 10px 10px 70px;
		}
.textGreyLog {
		color: #808080;
		font-family: Verdana, sans-serif;
		font-size: 95%;
		text-align: left;
		font-weight: bold;
		width: 5em;
		}
.textBrownLog {
		color: #884513;
		font-family: Verdana, sans-serif;
		font-size: 105%;
		font-weight: bold;		
		}
.textLog {
		padding: 10px 10px 0px 0px;
		color: #808080;
		font-family: Verdana, sans-serif;
		font-size: 80%;
		text-align: left;
		padding: 1px 1px;
		margin: 10px 10px;
		}
.numberText {
		margin-left: auto;
		margin-right: auto;
		padding: 0px 7px 0px 7px;
		font-size: 60%;
		width: 50px;
		}

/*Menu*/
#menu {
		padding: 10px 10px 10px 10px;
		list-style: none;
}
#menu li {
		float: left;
		font-family: Verdana, sans-serif;
		}   
#menu a {
		padding: 4px 8px;
		color: #696969;
		text-decoration: none;
		border: 1px solid #9B8748;
		background: #fffff0; 
		} 
#menu a:hover {
		background: #bdb76b;
		color: #fffff0;
		}
#menu a:hover, body#number_i #number-i a {
		background: #bdb76b;
		}
#menu a:hover, body#login_i #login-i a {
		background: #bdb76b;
		}
#menu a:hover, body#privacy_i #privacy-i a {
		background: #bdb76b;
		}
#menu a:hover, body#register_i #register-i a {
		background: #bdb76b;
		}
#menu a:hover, body#logout_i #logout-i a {
		background: #bdb76b;
		}
		
/*Others*/
.main {
table-layout: fixed; height: 360px;
		}
.main_n {
table-layout: fixed; height: 375px;
		}
.inmain {
		margin: 49px 0px 0px 0px;
		}
.leftMain {
		margin: 0px 0px 0px 70px;
		}
.numberTable {
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		}
.savedChoosedNumber {
		border: 1px solid #808000;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		}
.logSubmit {
		margin: 76px 0px 0px 68px;
		vertical-align: bottom;
		}
.regSubmit {
		margin: 46px 0px 0px 68px;
		}
.button {
		margin: 10px 10px 10px 70px;
}
.buttonPrivacy {
		margin: 10px 10px 0px 0px;
		float: right;
}
.privRight {
		margin-right: 10px;
		float: right;
}
.privLeft {
		float: left;
		width: 41px;
}
.privLeftN {
		margin-left: 10px;
		float: left;
		text-align: left;
		width: 120px;
}

/*Background*/
div#links a {display: block;}
		body {background: #fffff0;}
		